---
// import { url_for } from '../../../utils'; // 假设这些是导入的实用函数
import { theme } from '@src/theme'; // 假设 theme 是一个导入的主题配置
const { lang } = Astro.props;
import { getConfig } from '@src/config';

import { Image } from 'astro:assets';
import HeadImage from '../../image/head.webp';
import Social from '../header/social.astro';
import { useTranslations } from '@src/utils';
import { getBlogEntry,getCategoryList } from '@src/prework';
const blogLength:number = (await getBlogEntry(lang)).length;
const categoryLength:number = (await getCategoryList(lang)).length;
const tagLength:number = 0;
const config = getConfig(lang);
const t = useTranslations(lang);
---

{theme.aside.card_author.enable && (
  <div class="card-widget card-info text-center">
    <div class="avatar-img">
      <Image src={HeadImage} onerror={`this.onerror=null;this.src='${theme.error_img.flink}'`} alt="avatar" />
    </div>
    <div class="author-info-name">{config.author}</div>
    <div class="author-info-description">{config.description}</div>

    <div class="site-data">
      <a href={`/${lang}/${config.archive_dir}/`}>
        <div class="headline">{t('aside.articles')}</div>
        <div class="length-num">{blogLength}</div>
      </a>
      <a href={`/${lang}/`}>
        <div class="headline">{t('aside.tags')}</div>
        <div class="length-num">{tagLength}</div>
      </a>
      <a href={`/${lang}/${config.category_dir}/`}>
        <div class="headline">{t('aside.categories')}</div>
        <div class="length-num">{categoryLength}</div>
      </a>
    </div>

    {theme.aside.card_author.button.enable && (
      <a id="card-info-btn" href={theme.aside.card_author.button.link}>
        <i class={theme.aside.card_author.button.icon}></i>
        <span>{theme.aside.card_author.button.text}</span>
      </a>
    )}

    {(
      <div class="card-info-social-icons">
        <Social lang={lang}/>
      </div>
    )}
  </div>
)}