---

---

<div>
    <script>
        import { btf } from "@src/source/js/utils.js";
        document.addEventListener('DOMContentLoaded', () => {
            let headerContentWidth: number;
            let $nav: HTMLElement | null;
            let mobileSidebarOpen = false;

            const adjustMenu = (init: boolean) => {
                const getAllWidth = ele => Array.from(ele).reduce((width:number, i:Element) => width + (i as HTMLElement).offsetWidth, 0)

                if (init) {
                    const blogInfoWidth = getAllWidth(document.querySelector('#blog-info > a')!.children)
                    const menusWidth = getAllWidth(document.getElementById('menus')!.children)
                    headerContentWidth = (blogInfoWidth as number) + (menusWidth as number)
                    $nav = document.getElementById('nav')
                }

                const hideMenuIndex = window.innerWidth <= 768 || headerContentWidth > $nav.offsetWidth - 120
                $nav.classList.toggle('hide-menu', hideMenuIndex)
            }

            // 初始化header
            const initAdjust = () => {
                adjustMenu(true)
                $nav.classList.add('show')
            }

            // sidebar menus
            const sidebarFn = {
                open: () => {
                    btf.overflowPaddingR.add()
                    btf.animateIn(document.getElementById('menu-mask'), 'to_show 0.5s')
                    document.getElementById('sidebar-menus').classList.add('open')
                    mobileSidebarOpen = true
                },
                close: () => {
                    btf.overflowPaddingR.remove()
                    btf.animateOut(document.getElementById('menu-mask'), 'to_hide 0.5s')
                    document.getElementById('sidebar-menus').classList.remove('open')
                    mobileSidebarOpen = false
                }
            }

            const openMobileMenu = () => {
                const toggleMenu = document.getElementById('toggle-menu')
                if (!toggleMenu) return
                btf.addEventListenerPjax(toggleMenu, 'click', () => { sidebarFn.open() })
                // toggleMenu.addEventListener('click', () => {
                //     sidebarFn.open();
                // });
            }

            
            const refreshFn = () => {
                initAdjust()
                openMobileMenu()
            }

            const unRefreshFn = () => {
                window.addEventListener('resize', () => {
                    adjustMenu(false)
                    mobileSidebarOpen && btf.isHidden(document.getElementById('toggle-menu')) && sidebarFn.close()
                })

                const menuMask = document.getElementById('menu-mask')
                menuMask && menuMask.addEventListener('click', () => { sidebarFn.close() })
            }

            btf.addGlobalFn('pjaxComplete', refreshFn, 'refreshFn')
            refreshFn()
            unRefreshFn()
        })
    </script>

  <!-- {theme.translate.enable && (
    <script src={url_for(theme.asset.translate)}></script>
  )} -->

  <!-- {theme.lightbox && (
    <script src={url_for(theme.asset[theme.lightbox])}></script>
  )} -->

  <!-- {theme.instantpage && (
    <script src={url_for(theme.asset.instantpage)} type="module"></script>
  )} -->

  <!-- {theme.lazyload.enable && (
    <script src={url_for(theme.asset.lazyload)}></script>
  )}

  {theme.snackbar.enable && (
    <script src={url_for(theme.asset.snackbar)}></script>
  )}

  {theme.pangu.enable && (
    <include src="../includes/third-party/pangu.astro" />
  )} -->

  <div class="js-pjax">
    <!-- {needLoadCountJs && (
      <include src="../includes/third-party/card-post-count/index.astro" />
    )} -->

    <!-- <include src="./third-party/math/index.astro" />
    <include src="./third-party/abcjs/index.astro" /> -->

    <!-- {commentsJsLoad && (
      <include src="./third-party/comments/js.astro" />
    )} -->
  </div>

  <!-- <include src="../includes/third-party/prismjs.astro" /> -->

  <!-- {theme.aside.enable && theme.aside.card_newest_comments.enable && (
    (theme.pjax.enable || (!is_post() && page.aside !== false)) && (
      <include src="../includes/third-party/newest-comments/index.astro" />
    )
  )} -->

  <!-- {injectHtml(theme.inject.bottom)} -->

  <!-- <include src="../includes/third-party/effect.astro" />
  <include src="../includes/third-party/chat/index.astro" />

  {theme.aplayerInject && theme.aplayerInject.enable && (
    (theme.pjax.enable || theme.aplayerInject.per_page || page.aplayer) && (
      <include src="./third-party/aplayer.astro" />
    )
  )} -->

  <!-- {theme.pjax.enable && (
    <include src="../includes/third-party/pjax.astro" />
  )} -->
<!-- 
  {theme.umami_analytics.enable && (
    <include src="../includes/third-party/umami_analytics.astro" />
  )}

  {(theme.busuanzi.site_uv || theme.busuanzi.site_pv || theme.busuanzi.page_pv) && (
    <script async data-pjax src={theme.asset.busuanzi || '//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js'}></script>
  )}

  <include src="../includes/third-party/search/index.astro" /> -->
</div>